/* CABEÇALHO -----------------------------------------------------------------------------------------------------------------------------------------------*/
body{
	margin: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.topo{
	position: static;
	background-color: #3d8af7;
	padding-bottom: 1px;
}
#logo{
	width:160px;
	height:85px;
	margin-top: 20px;

}
.redesocial li a{
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -9999px;
	
}

.redesocial{
	position: absolute;
	top: 5px;
	right: 60px;
}




.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 65px;
	margin-top: -50px;
    z-index: 1;
	border: 2px solid #000;
}
.menu-content-list{
	padding-left:15px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	margin-top: -8px;
}
.menu-content-list a{
	text-decoration: none;
	color:#000;
}
.menu-content-list a:hover{
	color:#75a9f9;
}

.menu-content-list li{
	margin-bottom: 4px;
	
}

.menu:hover .menu-content {
    display: block;
}
.categorias {
	margin-top: 0px;
	background-color: #3d8af7;
	padding-left:5px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	color: #FFF;
	font-weight: lighter
	
}
.subCategorias{
	margin-top: -8px;
	background-color: #3d8af7;
	padding-left: 5px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	color: #FFF;
	font-weight: lighter
	
}

.redesocial li{
	float: right;
	margin-left: 20px;
}

.redesocial a[href*="facebook.com"]{
	background-image: url(../img/facebook.png);
}

.redesocial a[href*="twitter.com"]{
	background-image: url(../img/twitter.png);
}

.redesocial a[href*="instagram.com"]{
	background-image: url(../img/instagram.png);
}

.redesocial a[href*="plus.google.com"]{
	background-image: url(../img/googleplus.png);
}
.redesocial a[href*="instagram.com"]{
	background-image: url(../img/instagram.png);
}

#lupa{
	width:15px;
	height:16px;
	position: absolute;
	top: 81px;
	left: 1080px;
}


#barra{
	position: absolute;
	top: 75px;
	left: 1100px;
	border-radius: 20px;
	padding: 3px 3px 3px 15px;
	
}

#botaoMenu{
	width: 40px;
	height: 41px;
	position: absolute;
	top: 37px;
	left: 50px;
}
	
	/*Efeito Grow*/
	#botaoMenu:hover
	{
			-webkit-transform: scale(0.1);
			-ms-transform: scale(0.1);
			transform: scale(1.2);
	}
	a:hover
	{
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.2);
			
	}
	
	
	
	/*Fim efeito Grow*/



/* FIM CABEÇALHO */


/*SUB CABEÇALHO--------------------------------------------------------------------------------------------------------------------------------------------*/
.subtopo{
	position:relative;
	background-color: #75a9f9;
	top:-20px; 
}

	/*Sub-lista*/
	.submenu li:hover ul,
	.submenu ul li:hover ul{
	display:block;

	}

	.submenu li ul, .submenu li:hover ul{
	display:none;
	position:absolute;
	width: 150px;
	top: 27px;
	left: 230px;
	}

/*Fim Sub-lista*/


ul{
	list-style: none;
}
.submenu a{
	text-decoration: none;
	color: #000000;
	
	
	
}

.submenu a:hover {
	
	color: #929292;
	opacity:1;
}
	
.submenu ul li {
	display: inline;
	
	
	
	

}
.submenu ul{
	padding: 5px;
	padding-left: 110px;
}
.submenu li{
	padding-left: 200px;
}
/*FIM SUB CABEÇALHO */


.mapaUsualidade{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	padding-left: 100px;
	margin-top: -15px;
}

.logoSobre{
	background-color: #007FFF;
	width: 400px;
	height: 250px;
	border-radius: 10px;
	position: absolute;
	margin-left: 750px;
	margin-top: 40px;
}
.logoSobre img{
	margin-top:40px;
	margin-left: 70px;
}

.sumario ul{
	padding-top: 60px;
	padding-left: 10px;
	margin-left: 180px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	background-color: #F5F5F5;
	width: 200px;
	height: 250px;
	border-radius: 10px;
	
}

.sumario ul li{
	margin-bottom: 12px;
	margin-left: 30px;
	
}

#historia,#pubalvo,#negocio,#missao,#valores{
	
	margin-left:180px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 50px;
	border-bottom: 2px solid #3d8af7;
	width: 980px;
	
}
p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	padding-left:180px;
	text-align:  justify;
	text-indent: 20px;
	width: 980px;
	
}
/*RODAPÉ-----------------------------------------------------------------------------------------------------------------------------------------------------*/

.contatoRodape{
	color:#999999;
	padding: 50px;
	padding-top:150px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
}

.contatoRodape  ul{
	
	display:inline-block;
}

.contatoRodape li{
	color:#3333FF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left:10px;
	
}

 #logoRodape{
	width:60px;
	height:40px;
	padding-top:10px;
	padding-left:50px
}
#copyright{
	color:#fff;
	padding-left:20px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#rodape{
	background-color:#3366FF;
	font-size:15px;
	padding:5px;
	
}